:root {
  --max-width: 1100px;
  --border-radius: 12px;
  --font-mono: ui-monospace, Menlo, Monaco, 'Cascadia Mono', 'Segoe UI Mono',
    'Roboto Mono', 'Oxygen Mono', 'Ubuntu Monospace', 'Source Code Pro',
    'Fira Mono', 'Droid Sans Mono', 'Courier New', monospace;
  font-family: "Maven Pro", sans-serif;
  
  --color-light: white;
  --color-dark: #212121;
  --color-disabled: #6b6b6b;
  --color-signal: #fab700;
  --experience-one: #4ab3ff;
  --experience-two: #407197;
  --experience-three: #8094a3;
  --color-background-invert: var(--color-dark);
  --color-background: var(--color-light);
  --color-text: var(--color-dark);
  --color-text-invert: var(--color-light);
  --color-accent: var(--color-signal);

  --primary-card-color: white;
  --size-bezel: .5rem;
  --size-radius: 4px;
  --size-small: 800px;
  --logo-size: 150px;
  --logo-size-negative: -150px;
}


* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: rgb(var(--foreground-rgb));
  background: var(--color-background);
}

a {
  color: inherit;
  text-decoration: none;
}



@media (prefers-color-scheme: dark) {
  :root {
    --color-background: var(--color-dark);
    --color-background-invert: var(--color-light);
    --color-foreground: var(--color-light);
    --color-text: var(--color-light);
  }

  body {
    color: rgb(var(--color-foreground));
    background: var(--color-background);
  }

  html {
    color-scheme: dark;
  }
}


::-webkit-scrollbar {
  width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  background: var(--color-light);

}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--color-signal);
  border-radius: 4px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--color-signal);
}