
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 100px);
  flex-direction: column;
  position: relative;
  color:var(--color-text)
}

.circle {
  border-radius: 50%;
  text-align: center;
  position: relative;
  z-index: 10;
  display: flex;
  transition: all 0.3s ease-out;
  
}

.bottomBar{
  position: absolute;
  bottom: 1rem;
  text-align: center;
  cursor: pointer;
  transition: all ease-in-out 0.5s;
  font-weight: 500;
}
.bottomBar:hover{
  color: var(--color-signal);
  transition: all ease-in-out 0.3s;
}

.branchIcon{
  font-size: 0.5rem;
  height: 0.8rem;
}

.circle::after{
  display: block;
  width: 100px;
  height: 100px;
  position: absolute;
  background-color:white;
}

.logo{
  animation: pulse 3s infinite alternate ease-in-out,load_in 1s;
  z-index: 12;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}

.logo:hover{

  transition: all 0.7s ease-in-out;
}

.circle:hover{
  transition: all 0.3s ease-out;
}

.innerlink {  
  border-radius: 50%;
  width: 100px;
  height: 100px;
  position: absolute;
  transition: all 1s;
   
  border:var(--color-text) 4px solid;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
  right: calc(50% - 50px);
  top: calc(50% - 50px);

}

.nonactive{
  opacity: 0;
}

.innerlink.active{
  z-index: 11;
}
.innerlink.active.link1{
  transform: translate( calc(170px),calc(170px));
  background-color:var(--color-signal); 
}
.innerlink.active.link2{
  transform: translate( calc(-170px),calc(-170px));
  background-color: var(--color-signal);
}
.innerlink.active.link3{
  transform: translate( calc(-170px),calc(170px));
  background-color:var(--color-signal);
}
.innerlink.active.link4{
  transform: translate( calc(170px),calc(-170px)) ;
  background-color: var(--color-signal)
}

.icon{
  width:35px;
  height:35px;
}

.innerlink:hover{
  transform: scale(1.05);
  box-shadow: 0 19px 38px var(--experience-one), 0 15px 12px var(--experience-one);
}

.innerlink > *{
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
}

/* .circle:hover .innerlink {
  opacity: 1;
  transition: all 1s;
  z-index: -1;
  transform: scale(1.3);
} */

/* .circle:hover :nth-child(2) {
  
}

.circle:hover :nth-child(3) {
  
}

.circle:hover :nth-child(4) {
  
}

.circle:hover :nth-child(5) {
  
} */


@media (max-width: 700px) {
  .innerlink.active.link1{
    transform: translate( calc(130px),calc(130px));
    background-color:var(--color-signal); 
  }
  .innerlink.active.link2{
    transform: translate( calc(-130px),calc(-130px));
    background-color: var(--color-signal);
  }
  .innerlink.active.link3{
    transform: translate( calc(-130px),calc(130px));
    background-color:var(--color-signal);
  }
  .innerlink.active.link4{
    transform: translate( calc(130px),calc(-130px)) ;
    background-color: var(--color-signal)
  }
  .container {
    height: 100vh-100px;  
  }
  .innerlink.active{
    z-index: 20;
  }

}




@keyframes pulse {
  from {
    transform: scale(0.9);
  }
  to {
    transform: scale(1);
  }
}

@keyframes load_in {
  from {
    opacity: 0;
    transform: translateY(40px);
  }
  to {
    opacity: 1;
  }
}