
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
  
}

.circle {
  border-radius: 50%;
  /* background-color: ; */
  width:325px;
  height: 325px;
  text-align: center;
  position: relative;
  z-index: 10;
  display: flex;
  transition: all 0.3s ease-out;
  cursor: pointer;

}

.circle::after{
  display: block;
  width: 100px;
  height: 100px;
  position: absolute;
  background-color:white;
}

.logo{
  animation: pulse 3s infinite alternate ease-in-out,load_in 1s;

  transition: all 0.3s ease-in-out;
}

.logo:hover{

  transition: all 0.7s ease-in-out;
}

.circle:hover{
  transition: all 0.3s ease-out;
}

.innerlink {  
  border-radius: 50%;
  width: 100px;
  height: 100px;
  position: absolute;
  right: calc(50% - 50px);
  top: calc(50% - 50px);
  opacity: 0;
  transition: all 1s;
  z-index: -1; 
  border:var(--color-text) 4px solid;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);

}

.icon{
  width:35px;
  height:35px;
}

.innerlink:hover{
  transform: scale(1.05);
  box-shadow: 0 19px 38px var(--experience-one), 0 15px 12px var(--experience-one);
}

.innerlink > *{
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
}

.circle:hover .innerlink {
  opacity: 1;
  transition: all 1s;
  z-index: -1;
  transform: scale(1.3);
}

.circle:hover :nth-child(2) {
  transform: translate( calc(170px),calc(170px));
  background-color:var(--color-signal);
}

.circle:hover :nth-child(3) {
  transform: translate( calc(-170px),calc(-170px));
  background-color: var(--color-signal);
}

.circle:hover :nth-child(4) {
  transform: translate( calc(-170px),calc(170px));
  background-color:var(--color-signal);
}

.circle:hover :nth-child(5) {
  transform: translate( calc(170px),calc(-170px)) ;
  background-color: var(--color-signal)
}


@media (max-width: 700px) {
  .circle:hover :nth-child(2) {
    transform: translateY(220px);
    background-color: var(--color-signal)
  }
  
  .circle:hover :nth-child(3) {
    transform: translateY(340px);
    background-color: var(--color-signal)
  }
  
  .circle:hover :nth-child(4) {
    transform: translateY(-230px);
    background-color: var(--color-signal)
  }
  
  .circle:hover :nth-child(5) {
    transform: translateY(-350px);
    background-color: var(--color-signal)
  }
  .container {

    height: 100vh;
    
  }
}




@keyframes pulse {
  from {
    transform: scale(0.9);
  }
  to {
    transform: scale(1);
  }
}

@keyframes load_in {
  from {
    opacity: 0;
    transform: translateY(40px);
  }
  to {
    opacity: 1;
  }
}