.main {
    width: 150px;
    height: 50px;
    font-weight: bold;
    font-size: 20px;
    font-family: "Josefin Sans", sans-serif;
    background-color: var(--color-signal);
    cursor: pointer;
    box-shadow: 5px 5px 0 0;
    transition: 0.3s;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 20px;
    animation: load_in 0.5s;
  }
  .link {
    position: absolute;
    text-decoration: none;
    color: var(--color-dark);
    z-index: 1000;
  }
  .main::after {
    content: "";
    top: 0;
    left: 0;
    width: 150px;
    height: 50px;
    background: linear-gradient(to right, var(--experience-one), var(--experience-two));
    opacity: 0;
    transition: 0.3s;
  }
  .main:hover {
    box-shadow: -5px -5px 0 0;
    transform: scale(0.9);
  }
  .main:hover::after {
    opacity: 1;
  }

  @keyframes load_in {
    from {
      opacity: 0;
      transform: translateY(40px);
    }
    to {
      opacity: 1;
    }
  }