
.nav__container{
    display: flex;
    justify-content: space-between;
    gap:1rem;
    position: fixed;
    width: 100%;
    padding: 1.5rem;
    height: 100px;
    z-index: 100;

}

.hide-nav{
    height: 0;
    transition: all ease-in-out 0.2s;
}

.nav__links{
    display: flex;
    gap: 1rem;
}

.side_nav{
    display: none;
}

.hambugermenu{
    display: none;
}
.empty{
    width: 60px;
  }
  


@media (max-width: 800px){
    
    .hambugermenu{
        display: block;
        font-size: 1.5rem;
        cursor: pointer;
        margin-right: 1.5rem;
    }
    
    .side_nav{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap:3rem;
        width: 100%;
    }
    .nav__links{
        display: none;

    }

    .side_nav.active{
        display: flex;
        position: fixed;
        right:10px;
        top:100px;
        transition: all 0.5s ease-in-out;
        width:50%;
        height: 100%;
    }

    .side_nav.inactive{
        width:50%;
        display: flex;
        position: fixed;
        right:-100%;
        top:100px;
        transition: all 0.5s ease-in-out;
        height: 100%;
    }
}