.nav__container {
    margin: 0 auto;

}

.nav_top {
    display: flex;
    justify-content: space-between;
    gap: 1rem;
    position: fixed;
    width: 80%;
    max-width: 800px;
    padding: 1rem;
    height: 80px;
    z-index: 100;
    inset: 15px 0 auto 0;
    background-color: var(--nav-background);
    border-radius: var(--size-radius);
    left: 50%;
    transform: translateX(-50%);
    transition: ease-in-out 0.4s;
    box-shadow: 0 1px 4px 1px rgba(0,0,0,.25);
    backdrop-filter: blur(3px);
}

.nav_top>h1{
    font-size: 3rem;

    color: var(--color-signal);
    transition: all ease-in-out 0.5s;
    text-shadow: 1px 1px var(--color-text);
}
.nav_top>h1::after{
    display: block;
    content: "";
    width: 0px;
    height: 2px;
    transition: all ease-in-out 0.3s;
}

.nav_top>h1:hover::after{
    display: block;
    content: "";
    width: 100%;
    height: 3px;
    background-color: var(--experience-one);
    transition: all ease-in-out 0.3s;
}

.nav_top>h1>a>span{
    color:var(--color-text);
}



.nav__links {
    display: flex;
    gap: 1rem;
}

.nav_side {
    display: none;
}

.mobile_menu {
    display: none;
}

.socialMedia{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap:2rem;
}


.socialMedia> *{
    cursor: pointer;
    color: var(--color-text);
    transition: all ease-in-out 0.3s;
}

.socialMedia> *:hover{
    color: var(--color-signal);
    transition: all ease-in-out 0.3s;
}
@media (max-width: 800px) {
    .mobile_menu {
        position: fixed;
        display: flex;
        cursor: pointer;
        justify-content: flex-end;
        padding:2rem;
        color: var(--color-text);
        right:0;
        top:0;
        
    }

    .nav_top {
        display: none;
    }

    .nav_side {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 3rem;
        width: 100%;
        z-index: 100;
        padding: 2rem;
        box-shadow: 0 1px 4px 1px rgba(0,0,0,.25);
        backdrop-filter: blur(3px);
        
    }

    .nav_side.active {
        display: flex;
        position: fixed;
        right: 10px;
        top: 100px;
        transition: all 0.5s ease-in-out;
        width: 50%;
        height: fit-content;
        background-color: var(--nav-background);
        border-radius: var(--size-radius);
        box-shadow: 0 1px 4px 1px rgba(0,0,0,.25);
    }

    .nav_side.inactive {
        width: 50%;
        display: flex;
        position: fixed;
        right: -100%;
        top: 100px;
        transition: all 0.5s ease-in-out;
        height: fit-content;
    }
}