.pageContainer{
    margin: 0 auto;
    max-width: 1000px;
}

.pageContainer>p{
    margin-bottom: 1rem;
    margin-left: 1rem;
}
.pageContainer>h1{
    margin-left: 1rem;
}

.container {

    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 1.2rem;
    padding: 1rem;
    transition: all ease-in-out 0.2s;
}

.gallery__item {
    /* overflow: hidden; */
    position: relative;
    animation: load_in 0.5s;
    display: flex;
    flex-direction: column;
    transition: all 0.3s ease-in-out; 
}

.gallery__img {
    filter: brightness(100%);
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: all 0.3s ease-in-out;
    /* border:var(--color-signal) 5px solid; */
    border-radius: var(--size-radius) var(--size-radius) 0 0;
    overflow: hidden;

    
}

.gallery__img:hover {
    
    
    
}

.headers{
    background-color: var(--color-light);
    padding:1rem;
    border-radius: 0 0 var(--size-radius) var(--size-radius);
    color: var(--color-text);
    display: flex;
    gap:1rem;
    border: 1px solid rgb(237, 237, 237);
}

.gallery__item:hover {
    transition: all 0.3s ease-in-out; 
    /* animation: pulse 800ms ease-in-out; */
    transform: scale(1.03);
    border-radius: 0 0 var(--size-radius) var(--size-radius);
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

.gallery__item:hover div>h3{
    color: var( --experience-one);
    transition: all 0.3s ease-in-out; 
    animation: pulse 800ms ease-in-out;
}

@media(max-width: 700px) {
    
    .container {
        display: flex;
        flex-direction: column;
        margin: 0 1rem;
        padding: 0;
        transition: all ease-in-out 0.2s;
    }
}

@keyframes pulse {
    from, to {
        scale: 1
    }

    50% {
        scale: 1.1;
    }
}

@keyframes load_in {
    from {
        opacity: 0;
        transform: translateY(40px);
    }

    to {
        opacity: 1;
    }
}