.container {
    margin: 0 auto;
    max-width: 1200px;
    padding: 20px;
    position: relative;
    animation: load_in 0.5s;
    display: grid;
    grid-template-areas: "one two three"
        " four five five";
    grid-template-columns: 1fr 1fr 1fr;
    gap:1rem;
    justify-content: center;
}




.one {
    grid-area: one;
    height: 400px;
}

.one {
    grid-area: one;
}

.two {
    grid-area: two;
}

.three {
    grid-area: three;
}

.four {
    grid-area: four;
}

.five {
    grid-area: five;
}

@media(max-width: 1000px) {
    .container {
        margin: 0 auto;
        max-width: 1200px;
        padding: 20px;
        position: relative;
        animation: load_in 0.5s;
        display: grid;
        grid-template-areas: "one two"
                            " four three "
                            " five five ";
        grid-template-columns: 50% 50%;
    }


}