.container{
    max-width: 800px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap:1rem;
    padding-bottom: 1rem;
}

.blogContainer{
    background-color: var(--color-background);
    padding: calc(4 * var(--size-bezel));
    margin-top: calc(4 * var(--size-bezel));
    border-radius: var(--size-radius);
    border: 3px solid var(--color-signal, currentColor);
    box-shadow: .5rem .5rem 0 var(--color-text, currentColor);
    transition: all ease-in-out 0.2s;
    animation: load_in 800ms ease-in-out;
}

.blogContainer:hover{
    transform: scale(1.03);
    transition: all ease-in-out 0.2s;
}

.content__container{
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap:1rem;
}
.content__container>div>h3{
    margin-bottom: 1rem;
}

.image{
    border-radius: var(--size-radius);
}

@media(max-width: 800px){
    .container{
        padding:0px 20px;
    }

    .content__container{
        display: flex;
        flex-direction: column;
        gap:1rem;
    }
}


@keyframes load_in {
    from {
        opacity: 0;
        transform: translateY(40px);
    }

    to {
        opacity: 1;
    }
}